@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Shrikhand&display=swap');

body{
 font-family: 'Nerko One', cursive;
font-family: 'Shrikhand', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  color: black;

}

.info{
  margin: 20px;
  text-align: center;
}
.form{
  margin-top: 20px;
}

.btn{
    cursor: pointer;
}


.greetings,
.form{
    margin-top: 30px; 
    display: none;
}
.showing{
    display: flex;
    animation: nameEffect 3s linear infinite;
    font-size: 50PX;
    opacity: 0.4;
    z-index: 3;
}
@keyframes nameEffect{
  0%{
    color: blue;
  }50%{
    color:turquoise;
  }100%{
    color: blue;
  }
}
@keyframes borderEffect{
  0%{
    border: 3px solid orange;

  }50%{
     border: 3px solid red;

  }100%{
    border: 3px solid orange;
  }
}
.write{
  width: 300px;
  height: 40px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 30px;
  text-align: center;
  
}
.write:focus{
  outline:none;
  will-change:inherit;
}
input::placeholder{
  color:black;
   font-family: 'Nerko One', cursive;
  font-family: 'Shrikhand', cursive;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.8;
  animation: fadeIn 0.5s linear;
}
.js-weather{
  margin-top: 100px;
  color:black;
  font-size: 20px;
  background-color:orange;
}

footer{
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
 
}
button{
  border: none;
  background-color: rgba(0,0,0,0);
  outline: none;
  color: black;
}
footer:hover{
  animation: hoverLogOut 1s linear infinite;
  border-radius: 15px;
}
@keyframes hoverLogOut{
  0%{
  background-color: red;
  }50%{
    background-color: red;
     color: red;
  }
  100%{
    background-color: red;
  }
}
.nameinput{
  width: 200px;
  height: 50px;
  border-radius: 4px;
  margin:30px;
  text-align: center;
}
.js-toDoList{
  margin-top: 50px;
}